.ArticleWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;

    h2 {
        text-align: left;
        font-size: 1.5rem;
        color: $text-light;
    }

    .ArticleHeadingWrapper {
        display: flex;
        align-items: center;
        width: 100%;
        margin-bottom: 20px;

        .icon {
            color: $text-light;
            margin-left: 15px;
            font-size: 1.2rem;
            cursor: pointer;
        }
    }

    .ErrorMessage {
        color: $text-dark-light;
        display: flex;
        flex-direction: column;
        align-items: center;

        .Message {
            font-size: 1.25rem;
            margin-bottom: 10px;
        }

        .icon {
            color: $text-light;
            font-size: 1.5rem;
            cursor: pointer;
        }
    }

    .Items {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        row-gap: 10px;
        column-gap: 10px;

        @include desktop-view {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
    }

    .ArticleItem {
        display: flex;
        flex-direction: column;
        padding: 20px;
        color: $text-light;
        border: 1px solid rgb(75, 85, 99);
        border-radius: 5px;

        @include desktop-view {
            flex-direction: row;
        }

        img {
            height: 100%;
            border-radius: 5px;
            flex-grow: 1;
            max-width: 100%;
            margin-bottom: 10px;
            object-fit: cover;
            min-width: 200px;
            min-height: 100px;
            background-color: $text-dark-light;

            @include desktop-view {
                max-width: 200px;
                margin-right: 15px;
                margin-bottom: 0;
            }
        }

        h3 {
            font-size: 1.25rem;
            font-weight: 500;
            text-overflow: ellipsis;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            white-space: normal;
            padding-right: 10px;

            .icon {
                margin-left: 8px;
                font-size: 0.75rem;
            }
        }

        .TitleWrapper {
            margin-bottom: 10px;
        }

        .Title {
            display: flex;
            align-items: center;
            margin-bottom: 5px;
        }

        .ScoreInfo,
        .AuthorInfo,
        .Timestamp {
            color: $text-dark-light;
        }

        .AuthorInfo {
            .Author {
                color: $text-light;
            }

            .icon {
                margin: 0 5px;
            }
        }

        .Timestamp {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
}
