.HeadingWrapper {
    padding: 40px 0;

    h1 {
        color: white;
        font-size: 2rem;
        font-weight: 300;
    }

    p {
        color: white;
        font-size: 1rem;
        color: rgba($color: white, $alpha: 0.6);
    }
}
