@mixin desktop-view {
    @media (min-width: 1024px) {
        @content;
    }
}

.is-widescreen {
    max-width: 76rem;
    margin: auto 20px;

    @include desktop-view {
        margin: auto;
    }
}
