@import url('https://fonts.googleapis.com/css?family=DM+Sans:300,400,500,600,700,900&display=swap');

$background-dark: black;
$text-light: white;
$text-dark-light: rgb(217, 217, 217);

@import './normalize.scss';
@import './animation.scss';
@import './layout.scss';
@import './heading.scss';
@import './article.scss';

body {
    font-family: 'DM Sans', sans-serif !important;
    scrollbar-width: thin;
    background-color: $background-dark;
}
